{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}

{% block content %}
<div class="row justify-content-md-center pt-5" >
  <div class="col-md-7 bpost">       
    <h3>Idea in short version</h3> 
      <p>{{object.title}}</p>  
      <p>Idea created by: {{object.author.get_name}}</p>       
      <p>Idea created at: {{object.created_at}}</p>
      {% if object.thumbnail %}      
        <img src="{{object.get_idea_image}}" alt="image for idea">  
      {% endif %}   
       <div>{{object.main_text|safe}}</div>
    </div>
</div> 
<hr>

<div class="row justify-content-md-center pt-5" >   
    
    <div class="col-md-7">
      <!-- create a comment: form -->
      <div>
        <div id="myDIV" style="display:block">
          <form id="myForm" method="post">
            <h3>Create a comment for this idea</h3>          
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
          </form>
        </div>
      </div>
      <!-- end: form create a comment to the idea-->
      <hr>
      <div>
        <!-- rendering all comments -->
        {% if comments %}
          {% recursetree comments %}
          <!-- node == comment -->
          <div id="{{ node.id }}" class="my-2 p-2 " style="border: 1px solid grey">
            <div class="d-flex justify-content-between">By {{ node.user.get_name }}<div></div>{{ node.created }}</div>
            <div>{{ node.body }}</div>
            <div>Level is {{node.level}}</div>
            <div>Parent {{node.parent.id}}</div>
            <div>Id is {{node.id}}</div>
            <hr/>            
          {% if user != node.user %} 
          <button class="btn btn-success" onclick="formComm({{ node.id }})">Reply</button> 
          {% else %} 
            <button class="btn btn-primary" 
            onclick="getEditForm({{object.id}},{{node.id}},{{node.parent.id}})">
            Edit</button>    
            
            <div class="ErrorDiv" id="tail-{{node.id}}"></div>
          
          {% endif %}
                       
        </div>
        <!-- end div parent node -->
        <!-- if node is a child -->
          {% if not node.is_leaf_node %}
              {% if node.level < 3 %}     
              <div class="indent-to-right">   
                {% else %}
              <div>    
              {% endif %}            
                         
              {{ children }} 
             </div>        
                     
          {% endif %}

        {% endrecursetree %}
      {% endif %}  <!--if comments  -->
      
      <!-- end: rendering all comments -->
      
    </div>       
    
</div>  
{% endblock%}

{% block js %}
<script>
  function getEditForm(ideaId,commId,parentNodeId){
    var newForm = document.getElementById("newForm");
    if(document.contains(newForm)){
      newForm.remove()
    }
    let data = {"ideaId":ideaId,"commId":commId,"parentNodeId":parentNodeId};
    console.log("data",data);
    let url = "{% url 'comments:edit-comment' %}";    
    let divForm = document.getElementById(commId);
     $.ajax({
      url:url,
      // still visibale in url but thx ajax it's in browser request
      method:"GET",
      data:data,
      success:function(resp){
        console.log("response",resp);          
          divForm.insertAdjacentHTML('afterend',resp.html)          
      },
      error:function(err){
        console.log(err);
      }
    })   
}  

function formComm(id){
    console.log("reply clicked")
    // check if another form #newForm opened |=> if so close it
    var newForm = document.getElementById("newForm");
    if(document.contains(newForm)){
      newForm.remove()
    }
    // insert comment form after a parent comment by click Reply
    let divForm = document.getElementById(id);
    let errorDiv = document.getElementById(`tail-${id}`);
    divForm.insertAdjacentHTML('afterend',
    `<form id='newForm' class='form-insert py-2' method='post'>\
      <div >\
        <div class='d-flex justify-content-between'><h5>Your Comment: </h5> <div><button class='btn btn-outline-secondary' onclick='formClose(e)'>X\
            </button></div>\
      </div></div>\        
        {% csrf_token %}\
        <div class="form-group"><textarea name="body" cols="20" rows="2" class="form-control" placeholder="leave your comment" title="" required="" id="id_body"></textarea></div> \
        <div class="form-group"><select name="parent" class="form-control d-none" id="id_parent_">\
          <option value="${id}" selected="${id}"></option></select>\
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>\
        
      </div>\
    </form>`
    )
  } 

   
  function formClose() { 
    // let op: not everything hier is "seen" ? virtual? 
    console.log("X clicked!!!!!") 
    // e.stopPropagation();
    // e.preventDefault() ? why this can cause err: can't read property
     document.getElementById("newForm").remove();
  }

  // success: function (response) {
  //               // on successfull creating object
  //               // 1. clear the form.
  //               $("#friend-form").trigger('reset');
  //              // 2. focus to nickname inpu
 
  
</script>
{% endblock %}
   
 