{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col col-md-10">
        {% if user.is_authenticated %}
        <h1>{{user.get_name}}</h1>
        {% else %}
        <h1>Welcome,{{user}}</h1>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col col-md-10">
        <h1>Everybody can see this idea</h1>
        {% for obj in object_list %}
        <div class="card" style="width: 18rem;">            
            <div class="card-body">
              <h4 class="card-title">Author:{{obj.author.get_name}}</h4>
              <h5 class="card-title">Title:{{obj.title}}</h5>
              <p class="card-text">Created at:{{obj.created_at}}</p>
              <p class="card-text">Lead Text:{{obj.lead_text}}</p>
              <a href="{{obj.get_absolute_url}}" class="btn btn-primary">See more detail</a>
              
              
            </div>
            <img class="card-img-top" src="{{obj.get_idea_image}}" alt="Card image cap">
          </div>
          {% endfor %}
    </div>
</div>

{% endblock%}